body {
    background: #000000;
    font-family: 'Noto Serif',serif;
    color:#444444;
    font-size: 12px;
    line-height: 16px;
    min-width: 1100px; 
    background: #fff  left top scroll repeat-x;
}

.main {
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
    border: 1px solid #d2d2d2; 
    margin-top: 10px; 
    /*min-height: 600px;*/ 
    /*height: 100%;*/ 
    height: 500px;
    margin-bottom: 20px; 
    width: 1000px; 
    margin-right: auto; 
    margin-left: auto; 
    background: #000000;
    background: url(img/footer.jpg) #000000 no-repeat bottom; 
    padding: 20px;
}

.jp-jplayer{
    height: 0px;
    width: 0px;
    visibility: hidden;
}

.jp-audio{
    height: 0px;
    width: 0px;
    visibility: hidden;
}

.jp-type-playlist{
    height: 0px;
    width: 0px;
    visibility: hidden;
}

.jp-playlist{
    height: 0px;
    width: 0px;
    visibility: hidden;
}

.slide{
    /*padding-top: 20px;*/
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    height: 50px;
    color: white;
}

.sliderDiv{
    margin-top: -30px;
    background: url(img/slider.png); 
    position: relative; 
}

.slideshow-controller {
    background: url(img/controller.png) no-repeat; 
    height: 48px; 
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; 
    position: relative; 
    width: 250px; 
    z-index: 10000;
}
.slideshow-controller * {
    margin: 0; 
    outline: none; 
    padding: 0;
}
.slideshow-controller-hidden { 
    opacity: 0;
}
.slideshow-controller-visible {
    opacity: 1;
}
.slideshow-controller a {
    background: url(img/controller-controls.png) no-repeat -47px 0; 
    cursor: pointer; 
    display: block; 
    height: 18px; 
    left: 112px; 
    overflow: hidden; 
    position: absolute; 
    top: 15px; 
    width: 20px;
}
.slideshow-controller a.active {
    background-position: -47px -18px;
}
.slideshow-controller li {
    list-style: none;
}			 
.slideshow-controller li.first a {
    background-position: 0 0; 
    left: 36px; 
    width: 19px;
}
.slideshow-controller li.first a.active {
    background-position: 0 -18px;
}
.slideshow-controller li.prev a {
    background-position: -19px 0; 
    left: 68px; 
    width: 28px;
}
.slideshow-controller li.prev a.active {
    background-position: -19px -18px;
}
.slideshow-controller li.play a {
    background-position: -67px 0;
}
.slideshow-controller li.play a.active {
    background-position: -67px -18px;
}
.slideshow-controller li.next a {
    background-position: -87px 0; 
    left: 148px; 
    width: 28px;
}
.slideshow-controller li.next a.active {
    background-position: -87px -18px;
}
.slideshow-controller li.last a {
    background-position: -115px 0; 
    left: 189px; 
    width: 19px;
}
.slideshow-controller li.last a.active {
    background-position: -115px -18px;
}

/* jxSlider */
/* applied to jqxSlider widget */
.jqx-slider{
    outline: none;
    clear: both;
}

/*applied to the ticks which can be in the top/bottom/both sides of the jqxSlider*/
.jqx-slider-tick{
    border-left: 1px solid transparent;
    z-index: 9; 
}

/*applied to the ticks when the slider is in horizontal mode*/
.jqx-slider-tick-horizontal{
    width: 1px;
    border-left: none;
    margin-top: 1px;
}

/*applied to the ticks when the slider is in vertical mode*/
.jqx-slider-tick-vertical{
    height: 1px;
    border-top: none;
}

/*applied to the ticks container*/
.jqx-slider-tickscontainer{
    z-index: 10;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 9;
}

/*applied to the jqxSlider thumb used for changing/indicating current value*/
.jqx-slider-slider{
    background-color: #202020;
    background: #202020; 
    cursor: pointer;
    width: 16px;
    height: 16px;
    z-index: 15;
    position: absolute;
    left: 0px;
    top: 0px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;   
}

.jqx-slider-button{
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;    
}

/*applied to the slider's thumb when the slider is in horizontal mode*/
.jqx-slider-slider-horizontal{   
    /*background-image: url(images/slider_horizontal_classic.png);*/
    background-repeat: no-repeat;
    margin-top: -5px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;    
    border: 1px solid transparent;
}

/*applied to the slider's thumb when the slider is in vertical mode*/
.jqx-slider-slider-vertical{
    margin-left: -5px;
    /*background-image: url(images/slider_vertical_classic.png);*/
    background-repeat: no-repeat;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid transparent;
}

/*applied to the track where is located the thumb*/
.jqx-slider-track{
    height: 8px;
    float:left;
    position: relative;
    z-index: 20;
}

/*used in horizontal slider*/
.jqx-slider-track-horizontal{
    height: 8px;
    margin-top: 2px;
}

/*used in vertical slider*/
.jqx-slider-track-vertical{
    width: 8px;
}

/*applied to the div which is between the thumbs in a range slider or from beginning of the track to the current thumb position in the default slider*/
.jqx-slider-rangebar{}
.jqx-fill-state-normal{-ms-touch-action: none;font-family: Verdana,Arial,sans-serif; font-style: normal; font-size: 13px; border-color:#aaa; background: #efefef; }
.jqx-fill-state-hover {border-color:#999;  background: #e8e8e8;}
.jqx-fill-state-pressed{border-color:#999; background: #d1d1d1;}
.jqx-fill-state-focus {border-color: #555; }
.jqx-fill-state-disabled {cursor: default; color: #000; opacity: .55; filter:Alpha(Opacity=45);}