html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    background: trasparent;
    margin: 0;
    border: 0;
    padding: 0;
}

:focus {/* remember to define focus styles! */
    outline: 0;
}
l, ul {
    list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
}
caption{
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
a img {
    border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* ENRICO */
body {
    background: #000000;
    font-family: 'Noto Serif',serif;
    color:#444444;
    font-size: 12px;
    line-height: 16px;
    min-width: 1100px; 
    background: #fff  left top scroll repeat-x;

}

.class_img{
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
}
.goHomePage{
    cursor: pointer;
}

.homepage {
    background-color: #EEEEEE;
    border: 1px solid #E4E4E4;
    height: 100%;
    margin: 10px;
    padding: 10px;
}

.titlecolored {
    font-size: 2em;
    font-style: normal; 
    color: #0070a9;
}
.subtitlecolored {
    font-size: 1.8em;
    font-style: oblique; 
    color:#555;
}

.main {
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
    border: 1px solid #d2d2d2; 
    margin-top: 10px; 
    min-height: 600px; 
    height: 100%; 
    margin-bottom: 20px; 
    width:1000px; 
    margin-right: auto; 
    margin-left: auto; 
    background: #000000;
    background: url(images/bg_footer.jpg) #000000 no-repeat bottom; 
    padding: 20px;

}
.headerMain{
    width:1000px; 
    height: 50px; 
}

.footer{
    border-top: 1px solid #686868; width: 1000px; height: 100%; margin: 0 auto; color: #777777; 
    font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; line-height: 16px; width: 100%; 
    background: #1c1e24;
}

.tableFooter{
    width: 1000px; height: 100%; margin: 0 auto; color: #777777; 
    font-family: Verdana,Arial,Helvetica,sans-serif; 
    font-size: 12px; 
    line-height: 16px; 
    background: #1c1e24
}

.header{
    height: 100%;
}

.tableHeader{
    /*color: #777777;*/ 
    color: #f4f4f4;
    font-family:  Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px; 
    width:1000px; 
    margin: 0px auto;
}

/* Alignment */
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.625em;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.625em;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Global */

input, textarea {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color:#444444;
    font-size: 12px;
    line-height: 16px;
    background: #fafafa;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
    padding-left: 3px;

}
.inputContainer{
    padding-left: 3px;
}
.divContent{
    background: #ffffff;
    width: 1000px;
}

#page {
    background: #fff;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
    clear: both;
}
hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.625em;
}

/* Text elements */
p {
    margin-bottom: 1.625em;
}
ul, ol {
    margin: 0 0 1.625em 2.5em;
}
ul {
    list-style: square;
}
ol {
    list-style-type: decimal;
}
ol ol {
    list-style: upper-alpha;
}
ol ol ol {
    list-style: lower-roman;
}
ol ol ol ol {
    list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
    margin-bottom: 0;
}
dl {
    margin: 0 1.625em;
}
dt {
    font-weight: bold;
}
dd {
    margin-bottom: 1.625em;
}
strong {
    font-weight: bold;
}
cite, em, i {
    font-style: italic;
}
blockquote {
    font-family: Georgia, "Bitstream Charter", serif;
    font-style: italic;
    font-weight: normal;
    margin: 0 3em;
}
blockquote em, blockquote i, blockquote cite {
    font-style: normal;
}
blockquote cite {
    color: #666;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
pre {
    background: #f4f4f4;
    font: 13px "Courier 10 Pitch", Courier, monospace;
    line-height: 1.5;
    margin-bottom: 1.625em;
    overflow: auto;
    padding: 0.75em 1.625em;
}
code, kbd {
    font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym, dfn {
    border-bottom: 1px dotted #666;
    cursor: help;
}
address {
    display: block;
    margin: 0 0 1.625em;
}
ins {
    background: #fff9c0;
    text-decoration: none;
}
sup,
sub {
    font-size: 10px;
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: baseline;
}
sup {
    bottom: 1ex;
}
sub {
    top: .5ex;
}

/* Forms */


/* Links */
a {
    color: #1982d1;
    text-decoration: none;
}
a:focus,
a:active,
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #1982d1;
    text-decoration: none;
}

.slider-wrapper {
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    height: 50px;
    padding-top: 20px;
    /*color:#555;*/
    color: #0070a9;
}

.jqx-slider-slider{
    background: #202020; 
}

.sliderDiv{
    margin-top: -34px;
    background: url(images/slider.png) repeat-x; 
    overflow: hidden; 
    position: relative; 
}
.slideshow-controller {
    background: url(images/controller.png) no-repeat; 
    height: 48px; 
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; 
    position: relative; 
    width: 250px; 
    z-index: 10000;
}
.slideshow-controller * {
    margin: 0; 
    outline: none; 
    padding: 0;
}
.slideshow-controller-hidden { 
    opacity: 0;
}
.slideshow-controller-visible {
    opacity: 1;
}
.slideshow-controller a {
    background: url(images/controller-controls.png) no-repeat -47px 0; 
    cursor: pointer; 
    display: block; 
    height: 18px; 
    left: 112px; 
    overflow: hidden; 
    position: absolute; 
    top: 15px; 
    width: 20px;
}
.slideshow-controller a.active {
    background-position: -47px -18px;
}
.slideshow-controller li {
    list-style: none;
}			 
.slideshow-controller li.first a {
    background-position: 0 0; 
    left: 36px; 
    width: 19px;
}
.slideshow-controller li.first a.active {
    background-position: 0 -18px;
}
.slideshow-controller li.prev a {
    background-position: -19px 0; 
    left: 68px; 
    width: 28px;
}
.slideshow-controller li.prev a.active {
    background-position: -19px -18px;
}
.slideshow-controller li.play a {
    background-position: -67px 0;
}
.slideshow-controller li.play a.active {
    background-position: -67px -18px;
}
.slideshow-controller li.next a {
    background-position: -87px 0; 
    left: 148px; 
    width: 28px;
}
.slideshow-controller li.next a.active {
    background-position: -87px -18px;
}
.slideshow-controller li.last a {
    background-position: -115px 0; 
    left: 189px; 
    width: 19px;
}
.slideshow-controller li.last a.active {
    background-position: -115px -18px;
}